form {
	margin:0;
	padding:0;
	border:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	font-family:inherit;
	vertical-align:baseline;
	margin-bottom: 4px;
}

form .row-input {	
	margin-top: 6px;	
	margin-bottom: 6px;
}

form .row-input label {
	margin: 4px 10px;
	float: left;
	font-weight: bold;				
	position: relative;
	text-align: right;
	width: 110px;	
}

form .row-center {
	text-align: center;	
	vertical-align: middle;
}

form .row-buttons {	
	margin-top: 10px;
	margin-bottom: 5px;
	text-align: center;	
}

form .row-errors ul {
	border-left: 1px solid #FFAAAA;
	border-right: 1px solid #FFAAAA;
	border-top: 1px solid #FFAAAA;
	   -mox-box-shadow: 0 0 2px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 0 2px rgba(0,0,0,0.2);
	        box-shadow: 0 0 2px rgba(0,0,0,0.2);
	border-bottom: 1px solid #FFAAAA;
	   -mox-box-shadow: 0 0 2px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 0 2px rgba(0,0,0,0.2);
	        box-shadow: 0 0 2px rgba(0,0,0,0.2);
	background-color:#FFF3F3;
	line-height: 1.5;
	overflow: hidden;
	padding: 5px;
	padding-left:25px;
	margin: 10px 10px 5px 10px
}
			
form .row-errors ul li {
	margin-top: 5px;				
	font-weight: bold;		
	color: #cc0000;												
}	

.scaffoldbar {
	width: 100%;										
	height: 30px;	
	padding-top: 6px;																			
}
			
.scaffoldbar-left {		
	display: inline;																				
	height: 100%;							
	float: left;	
	width: auto;		
}
			
.scaffoldbar-right {
	display: inline;
	position: relative;
	float: right;
	padding-top: 2px;	
	padding-right: 6px;
	text-align: right;	
	height: 100%;
	width: auto;	
}